<div class="section">
<h2>Add new Bouquet</h2>
<div class="alert alert-succes">
    <label class="form-control">Bouquet ID </label>
    <br>
    <input type="text" class="form-control" [(ngModel)]="bouquet.id">
    <br>
    <br>
    <label class="form-control">Bouquet name </label>
    <br>
    <input type="text" class="form-control" [(ngModel)]="bouquet.name">
    <br>
    <br>
    <label class="form-control">Bouquet price </label>
    <br>
    <input type="text" class="form-control" [(ngModel)]="bouquet.price">
    <br>
    <br>
    <label class="form-control">Bouquet quantity </label>
    <br>
    <input type="text" class="form-control" [(ngModel)]="bouquet.quantity">
    <br>
    <br>
    <label class="form-control">Bouquet description </label>
    <br>
    <input type="text" class="form-control" [(ngModel)]="bouquet.description">
    <br>
    <br>
    <button class="btn btn-success" (click)="register()">Add to store</button>
</div>
</div>
